/*
author: Lonnie
about: Kitties
*/

/* ID styles */

#pageHeading {
    margin-left: 20%;
    padding: .25%;
    border-radius: 2%;
    width: fit-content;
    text-align: center;
    float:left
}

#breedContainer {
    font-size:x-large;
    background-color:darkseagreen;
    border-radius: 5px;
    color:white;
    width: 50vh;
    margin-top: 15vh;
    margin-left: 5vh;
    padding: 2%;

}

#factContainer {
    clear:both;
    width: 50%;
    margin: auto;
    text-align: center;
    font-size:x-large;
    color:white;
}

/* HTML tags via attribute */
img[alt='No kittie for you!'] {
    width:30%;
    height: 35vh;
    border-radius: 2%;
    object-fit: cover;
    float: right;
    margin-right: 10%;
    margin-bottom: 1%;
    }
    
/* plain HTML tag styles */

body {
    background-color: blueviolet;
    padding-top: 3%;
    color:lightgrey
}

h1 {
color:lightgrey;
}

/* buttons */

#factContainer button {
    width: 15vw;
    height: 5vh;
    background-color:darkmagenta;
    color: darkgrey;
}

/* replace kittie button */
button {
    float: right;
    clear: both;
    margin-right: 15%;
    width: 15vw;
    height: 5vh;
    background-color:darkmagenta;
    color: darkgrey; 
}