/*
author: Lonnie
about: Kitties
*/

html {
    width: 100vw;
}

/* ID STYLES */

#pageHeading {
    margin-left: 20%;
    padding: .25%;
    border-radius: 2%;
    width: fit-content;
    text-align: center;
    font-size: xxx-large;
    float:left
}

#breedContainer {
    font-size:x-large;
    background-color:darkseagreen;
    border-radius: 5px;
    color:white;
    width: 50vh;
    margin-top: 15vh;
    margin-left: 5vh;
    padding: 2%;
}

#breedContainer span{
    color:blue;
}

#factContainer {
    clear:both;
    width: 50%;
    margin: auto;
    text-align: center;
    font-size:x-large;
    background-color:chocolate;
    border-radius: .25rem;
    padding: 1rem;
    margin-top: 1rem;
}

/* HTML ELEMENTS VIA ATTRIBUTE */

img[alt='No kittie for you!'] {
    width:30%;
    height: 35vh;
    border-radius: 2%;
    object-fit: cover;
    float: right;
    margin-right: 10%;
    margin-bottom: 1%;
    }
    
/* PLAIN HTML TAGS */

body {
    background-color: blueviolet;
    padding-top: 3%;
    color:lightgrey
}

h1 {
color:lightgrey;
}

p {
    text-align: justify;
}

/* BUTTONS */

#randomFactButton {
    width: 15vw;
    height: 5vh;
    background-color:darkmagenta;
    color: darkgrey;
    margin-top: 1rem;
    
}

/* replace kittie button */

#replaceKittieButton {
    float: right;
    clear: both;
    margin-right: 15%;
    width: 15vw;
    height: 5vh;
    background-color:darkmagenta;
    color: darkgrey; 
}

@media screen and (max-width: 920px) {
     
        #pageHeading {
            display:block;
            padding: .25%;
            border-radius: 2%;
            width: fit-content;
            margin: auto;
            text-align: center;
            font-size: xxx-large;
            float:none;
        }

        img[alt='No kittie for you!'] {
            display: block;
            width: initial;
            height: 35vh;
            border-radius: 2%;
            object-fit: cover;
            float: none; 
            margin: auto;
            }

            #replaceKittieButton {
                display: block;
                float: none;
                clear: none;
                margin: auto;
                width: 15vw;
                height: 5vh;
                margin-top: 1rem;
                background-color:darkmagenta;
                color: darkgrey; 
            }
    
            #breedContainer {
                display:block;
                font-size:x-large;
                background-color:darkseagreen;
                border-radius: 5px;
                color:white;
                width: 80vw;
                margin: auto;
                margin-top: 1rem;
                margin-bottom: 1rem;
                padding: 1rem;
            }

            #factContainer {
                display: flex;
                align-items:first baseline;
                gap: 1rem;
                clear:none;
                width: 80vw;
                margin: auto;
                text-align: center;
                font-size:x-large;
                color:white;
            }
  }

  @media screen and (max-width: 500px) {
    img[alt='No kittie for you!'] {
        width:80vw;
        height: 35vh;
        border-radius: 2%;
        object-fit: cover;
        float: none;
        margin: auto;
        margin-bottom: .25rem;
        }

        #replaceKittieButton {
            float: none;
            clear: both;
            margin: auto;
            width: fit-content;
            height: 5vh;
            background-color:darkmagenta;
            color: darkgrey; 
        }

        #factContainer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            clear:none;
            width: 80vw;
            margin: auto;
            text-align: center;
            font-size: inherit;
            background-color:chocolate;
            border-radius: .25rem;
            padding: 1rem;
            margin-top: 1rem;
        }

        #randomFactButton {
            width: fit-content;
            height: 5vh;
            background-color:darkmagenta;
            color: darkgrey;
            margin-top: 1rem;    
            margin: auto;      
        }

  }